//Louise

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color:  #B3CEE5;
}

.login {
	width: 360px;
	height: min-content;
	padding: 20px;
	border-radius: 12px;
	background: #329ec2;
	color:white;
	margin: auto;
}

.login h1 {
	font-size: 36px;
	margin-bottom: 25px;
}

.login form {
	font-size: 20px;
}

.login form .form-group {
	margin-bottom: 12px;
}

.login form input[type="submit"] {
	font-size:20px;
	margin-top: 15px;
}

#btn {
	background-color: #402854;
	color: #ffffff;
}

#price {
	font-size: 30px;
}

#linkColor {
	color: #3560a6;
}

.logo{
	border-style: ridge;
	border-width: 10px;
	border-color: black;
	box-shadow: 5px 5px 5px #777777;	
	border-radius: 3px;
}

.card{
	border-style: ridge;
	border-width: 7px;
	border-color: black;
	box-shadow: 5px 5px 5px #777777;	
	border-radius: 10px;
	margin: 10px;
}
